@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-01 {
        padding-top: 50px;
        .c-wrapper {
            margin: 0 auto;
            .container {
                display: grid;
                border-radius: 16px;
                gap: 30px;
                .a-item {
                    border: 3px solid darkcyan;
                    padding: 10px;
                    border-radius: 16px;
                    h3 {
                        margin-bottom: 10px;
                        font-size: 18px;
                        color: brown;
                        font-weight: 900;
                    }
                }
                .a-item-01 {
                    display: grid;
                    gap: 10px;
                    .a-item-01-A {
                        font-size: 15px;
                        color: brown;
                        font-weight: 900;
                    }
                    .a-item-01-B {
                        border-radius: 16px;
                        padding: 5px;
                    }
                    .a-item-01-C {
                        cursor: pointer;
                        margin-top: 10px;
                        border: 3px solid brown;
                        border-radius: 16px;
                        padding: 3px;
                        font-weight: 700;
                        color: darkcyan;
                    }
                }
            }
            .b-item {
                padding: 10px;
                display: grid;
                gap: 50px;
                border: 3px solid brown;
                border-radius: 16px;
                .b-item-01 {
                    border: 2px solid darkcyan;
                    border-radius: 16px;
                    padding: 16px;
                    .b-item-02 {
                        display: flex;
                        justify-content: space-between;
                        margin: 19px 0;
                        .b-item-02-A {
                            font-size: 15px;
                            color: brown;
                            font-weight: 900;
                        }
                    }
                    .b-item-03 {
                        width: 100%;
                        border-radius: 16px;
                        object-fit: cover;
                    }
                    .b-item-04 {
                        margin-top: 20px;
                        display: flex;
                        justify-content: end;
                        li {
                            display: flex;
                            gap: 5px;
                            button {
                                cursor: pointer;
                                width: 70px;
                                border: 2px solid brown;
                                border-radius: 10px;
                                padding: 5px;
                                color: darkcyan;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .section-01 {
        padding-top: 50px;
        .c-wrapper {
            margin: 0 auto;
            .container {
                display: grid;
                border-radius: 16px;
                gap: 30px;
                .a-item {
                    border: 3px solid darkcyan;
                    padding: 16px;
                    border-radius: 16px;
                    h3 {
                        margin-bottom: 20px;
                        font-size: 20px;
                        color: brown;
                        font-weight: 900;
                    }
                }
                .a-item-01 {
                    display: grid;
                    gap: 10px;
                    grid-template-columns: 1fr 1fr;
                    .a-item-01-A {
                        font-size: 15px;
                        color: brown;
                        font-weight: 900;
                    }
                    .a-item-01-B {
                        border-radius: 16px;
                        padding: 5px;
                    }
                    .a-item-01-C {
                        cursor: pointer;
                        margin-top: 10px;
                        border: 3px solid brown;
                        border-radius: 16px;
                        padding: 3px;
                        font-weight: 700;
                        color: darkcyan;
                    }
                }
            }
            .b-item {
                padding: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;
                border: 3px solid brown;
                border-radius: 16px;
                .b-item-01 {
                    border: 2px solid darkcyan;
                    border-radius: 16px;
                    padding: 16px;
                    .b-item-02 {
                        display: flex;
                        justify-content: space-between;
                        margin: 19px 0;
                        .b-item-02-A {
                            font-size: 15px;
                            color: brown;
                            font-weight: 900;
                        }
                    }
                    .b-item-03 {
                        width: 100%;
                        border-radius: 16px;
                        object-fit: cover;
                    }
                    .b-item-04 {
                        margin-top: 20px;
                        display: flex;
                        justify-content: end;
                        li {
                            display: flex;
                            gap: 5px;
                            button {
                                cursor: pointer;
                                width: 70px;
                                border: 2px solid brown;
                                border-radius: 10px;
                                padding: 5px;
                                color: darkcyan;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: #{$mq-md + "px"}) {
    .section-01 {
        padding-top: 70px;
        .c-wrapper {
            margin: 0 auto;
            .container {
                display: grid;
                border-radius: 16px;
                .a-item {
                    height: auto;
                    border: 3px solid darkcyan;
                    border-radius: 16px;
                    padding: 16px;
                    h3 {
                        margin-bottom: 30px;
                        font-size: 26px;
                        color: brown;
                        font-weight: 900;
                    }
                }
                .a-item-01 {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    .a-item-01-A {
                        font-size: 15px;
                        color: brown;
                        font-weight: 900;
                    }
                    .a-item-01-B {
                        border-radius: 10px;
                        padding: 5px;
                    }
                    .a-item-01-C {
                        width: 70px;
                        border: 3px solid darkcyan;
                        border-radius: 16px;
                        padding: 5px;
                        cursor: pointer;
                        color: brown;
                        font-weight: 800;
                    }
                }
            }
            .b-item {
                display: grid;
                gap: 10px;
                width: 100%;
                margin-top: 20px;
                .b-item-01 {
                    border: 3px solid darkcyan;
                    border-radius: 16px;
                    display: flex;
                    padding: 10px;
                    justify-content: space-between;
                    align-items: center;

                    .b-item-02 {
                        width: 30%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .b-item-02-A {
                            color: brown;
                            font-weight: 700;
                            font-size: 25px;
                        }
                    }

                    .b-item-03 {
                        width: 500px;
                        height: 200px;
                        border-radius: 16px;
                        object-fit: cover;
                    }
                    .b-item-04 {
                        li {
                            display: flex;
                            gap: 5px;
                            button {
                                cursor: pointer;
                                width: 70px;
                                border: 2px solid brown;
                                border-radius: 10px;
                                padding: 5px;
                                color: darkcyan;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}
